h1 {color: #f44292;}
h1 {background-color: #426493;color: #ffffff;}
body{font-family: "Courier New", Courier, monospace;}h1 {font-family: Arial, Helvetica, sans-serif;background-color: #f44292;color: #ffffff;}
